.ossl-admin {
  font-family: -apple-system, system, sans-serif;

  .nav-menu {
    li {
      @apply flex items-center;
    }

    a {
      @apply inline-block w-full p-2 transition-colors font-bold text-gray-400 border-gray-400 data-[active]:text-gray-900 data-[active]:border-r-2 data-[active]:bg-gray-200;
    }
  }
}

.data-table {
  @apply border w-full overflow-x-auto;

  tr:not(:first-of-type) {
    @apply border-t;
  }

  tbody > tr:first-of-type {
    @apply border-t;
  }

  tr > :not(:first-child) {
    @apply border-l;
  }

  th, td {
    @apply px-2 py-0.5;
  }

  tr:nth-of-type(2n) {
    @apply bg-gray-100;
  }
}

.kv-table {
  tr > *:first-child {
    width: 160px;
  }
}
