.ossl-admin {
  font-family: -apple-system, system, sans-serif;

  @apply text-gray-900;

  h2 {
    @apply font-bold text-3xl mb-4;
  }

  h3 {
    @apply font-bold text-xl mb-2;
  }

  .nav-menu {
    li {
      @apply flex items-center;
    }

    a {
      @apply inline-block w-full p-2 transition-colors font-bold text-gray-400 border-gray-400;

      &:focus, &:hover {
        @apply text-gray-500 bg-gray-200 bg-opacity-70 outline-none;
      }

      &[data-active] {
        @apply text-gray-900 border-r-2 bg-gray-200;
      }
    }
  }
}

.data-table {
  @apply border w-full overflow-x-auto;

  tr:not(:first-of-type) {
    @apply border-t;
  }

  tbody > tr:first-of-type {
    @apply border-t;
  }

  tr > :not(:first-child) {
    @apply border-l;
  }

  th, td {
    @apply px-2 py-0.5;
  }

  tr:nth-of-type(2n) {
    @apply bg-gray-100;
  }
}

.kv-table {
  tr > *:first-child {
    width: 160px;
  }
}
