.dashboard {
  @apply relative;
  min-height: calc(100vh);
  padding-top: 56px;

  @media screen and (min-width: 769px) and (min-height: 769px) {
    &:not(.compact) {
      @apply overflow-hidden;
      max-height: calc(100vh);
    }
  }
}

.grid-layout {
  @apply relative w-screen z-0;
  min-height: calc(100vh - 56px);

  &.editing {
  }
}

.widget {
  &-wrapper {
    @apply transition-colors w-full h-full relative rounded-lg border-opacity-0 border border-gray-200 bg-transparent overflow-hidden;

    &.show-border {
      @apply border-opacity-100;
    }

    &:hover {
      .widget-toolbar {
        opacity: 0.7;
        transform: scale(1);

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &-layer {
    @apply absolute left-0 top-0 w-full h-full z-10 flex flex-col pointer-events-none;

    &.editing-layer {
      @apply pointer-events-auto;

      &.movable {
        @apply cursor-move;
      }
    }
  }

  &-toolbar-container {
    @apply text-primary pointer-events-auto p-2;
  }

  &-toolbar {
    @apply transition-all flex justify-end items-center bg-white w-max ml-auto border rounded;
    opacity: 0;
    transform-origin: top right;
    transform: scale(0.3);
    transition-duration: 300ms;
  }
}


.editing {
  .widget-wrapper {
    @apply border-editing border-opacity-50 border-dashed;

    &:hover {
      @apply border-opacity-100;
    }
  }
}


.grid-guide {
  @apply absolute left-0 w-full pointer-events-none;

  background-color: #FEFBF9;

  height: calc(100% + 56px);
  top: -56px;

  &.compact {
    height: calc(100% + 112px);
    top: -112px;
  }
}
