@import "@oss-widgets/roughness/fonts/index.css";

@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: CabinSketch, sans-serif;
}

.draggable.active {
  z-index: 1;
  outline: 2px dashed gray;
}
