@import "@ossinsight-lite/roughness/fonts/index.css";

@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: CabinSketch, sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(255,225,238);
  background: linear-gradient(16deg, rgba(255,225,238,1) 0%, rgba(181,215,255,1) 100%);
}

.draggable.active {
  z-index: 1;
  outline: 2px dashed gray;
}

/* Transitions */
.fade-enter {
  transform: scale(0.8);
  opacity: 0;
}

.fade-enter-active {
  transition: transform .4s ease, opacity .4s;
  transform: none;
  transform-origin: center center;
  opacity: 1;
}

.fade-enter-done {
  transform: none;
  opacity: 1;
}

.fade-exit {
  transform: none;
  opacity: 1;
}

.fade-exit-active {
  transition: transform .4s ease, opacity .4s;
  transform: scale(0.8);
  transform-origin: center center;
  opacity: 0;
}

.fade-exit-done {
  transform: scale(0.8);
  opacity: 0;
}
