@import "@ossinsight-lite/ui/style.scss";

@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

.draggable.active {
  z-index: 1;
  outline: 2px dashed gray;
}

/* Modal */
.site-modal {
  &-overlay {
    @apply bg-black bg-opacity-70 fixed inset-0 z-10;

    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    &[data-state=open] {
      animation-name: overlay-show;
    }

    &[data-state=closed] {
      animation-name: overlay-hide;
    }
  }

  &-content {
    @apply z-20 bg-white p-2;
    overflow-y: auto;

    &:not(.compact) {
      max-height: 85vh;
      max-width: calc(100vw - 16px);
      min-width: 600px;
      height: 100%;
      width: min-content;
    }

    &.compact {
      @apply max-w-screen-sm p-4;

      min-width: 320px;

      @media screen and (min-width: 500px) {
        min-width: 480px;
      }
    }

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;


    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    &:focus {
      outline: none;
    }

    &[data-state=open] {
      animation-name: dialog-in;
    }

    &[data-state=closed] {
      animation-name: dialog-out;
    }
  }
}


@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes dialog-in {
  from {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes dialog-out {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.8);
  }
}


/* Transitions */
.fade-enter {
  transform: scale(0.8);
  opacity: 0;
}

.fade-enter-active {
  transition: transform .4s ease, opacity .4s;
  transform: none;
  transform-origin: center center;
  opacity: 1;
}

.fade-enter-done {
  transform: none;
  opacity: 1;
}

.fade-exit {
  transform: none;
  opacity: 1;
}

.fade-exit-active {
  transition: transform .4s ease, opacity .4s;
  transform: scale(0.8);
  transform-origin: center center;
  opacity: 0;
}

.fade-exit-done {
  transform: scale(0.8);
  opacity: 0;
}

.data-table {
  @apply border overflow-x-auto;

  tr:not(:first-of-type) {
    @apply border-t;
  }

  tbody > tr:first-of-type {
    @apply border-t;
  }

  tr > :not(:first-child) {
    @apply border-l;
  }

  th, td {
    @apply px-2 py-0.5;
  }

  tr:nth-of-type(2n) {
    @apply bg-gray-50;
  }
}

.kv-table {
  tr > *:first-child {
    width: 160px;
  }
}

.react-resizable-handle {
  z-index: 40;
}

//.react-draggable {
//  @apply outline-1 outline-dashed outline-gray-200 rounded-lg;
//
//  &-dragging {
//    @apply outline-gray-400;
//  }
//}