@import "react-awesome-animated-number/dist/index.css";

.sql-result-table {
  @apply table-auto text-sm min-w-full;

}

.sql-result-table td, .sql-result-table th {
  @apply px-2 border;
}

.sql-result-table tbody {

}

.sql-result-table tr > :first-child, .sql-result-table tr > :first-child {
  @apply border-l-0;
}

.sql-result-table tr > :last-child, .sql-result-table tr > :last-child {
  @apply border-r-0;
}

.sql-result-table tr:last-of-type th, .sql-result-table tr:last-of-type td {
  @apply border-b-0;
}

/* styles.css */
.AccordionContent {
  overflow: hidden;
}

.AccordionContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}

.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
