.viewport-wrapper {

  .viewport {
    margin: auto;
    position: relative;

    .debug-panel {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      opacity: 0.5;
    }
  }
}
